include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';

doctype html
html(lang="ru")
  include ../general/head
  body#main-page.cursor.ru.background-page
    include ../general/header
    .pattern
    main.wrapper-grid

      .container2
      h1.heading-page Услуги
      .block-service#service1
        .block-service__wrap-heading
          h3.block-service__heading Проектирование
          img(src='/img/general/arrow-service.svg').block-service__arrow#arrowService1
        .block-service__desc#descService1
          p Разработка проектной документации на строительство и реконструкцию очистных сооружений в соответствии с требованиями Постановления Правительства Российской Федерации от 16 февраля 2008 года N 87 «О составе разделов проектной документации и требованиях к их содержанию» и НАЦИОНАЛЬНОГО СТАНДАРТА РОССИЙСКОЙ ФЕДЕРАЦИИ ГОСТ Р 21.101-2020 «Система проектной документации для строительства. ОСНОВНЫЕ ТРЕБОВАНИЯ К ПРОЕКТНОЙ И РАБОЧЕЙ ДОКУМЕНТАЦИИ» на основании базового / детального инжиниринга поставщиков технологии очистки сточных вод.
          p Сопровождение экспертизы для разработанной проектной документации до момента получения положительного заключения.
          p Разработка рабочей документации на строительство, реконструкцию и модернизацию очистных сооружений в соответствии с требованиями НАЦИОНАЛЬНОГО СТАНДАРТА РОССИЙСКОЙ ФЕДЕРАЦИИ ГОСТ Р 21.101-2020 «Система проектной документации для строительства. ОСНОВНЫЕ ТРЕБОВАНИЯ К ПРОЕКТНОЙ И РАБОЧЕЙ ДОКУМЕНТАЦИИ» и другими ассоциированными нормативными документами.
          p Осуществление авторского надзора за строительством, реконструкцией и модернизацией очистных сооружений с целью контроля за выполнением работ в соответствии с решениями проектной документации и/или принятия оперативных решений по отклонению от утверждённых решений проектной документации со стороны лица, осуществляющего разработку проектной документации.

      .block-service
              h3.block-service__heading Проектирование
              .block-service__desc
                p Разработка проектной документации на строительство и реконструкцию очистных сооружений в соответствии с требованиями Постановления Правительства Российской Федерации от 16 февраля 2008 года N 87 «О составе разделов проектной документации и требованиях к их содержанию» и НАЦИОНАЛЬНОГО СТАНДАРТА РОССИЙСКОЙ ФЕДЕРАЦИИ ГОСТ Р 21.101-2020 «Система проектной документации для строительства. ОСНОВНЫЕ ТРЕБОВАНИЯ К ПРОЕКТНОЙ И РАБОЧЕЙ ДОКУМЕНТАЦИИ» на основании базового / детального инжиниринга поставщиков технологии очистки сточных вод.
                p Сопровождение экспертизы для разработанной проектной документации до момента получения положительного заключения.
                p Разработка рабочей документации на строительство, реконструкцию и модернизацию очистных сооружений в соответствии с требованиями НАЦИОНАЛЬНОГО СТАНДАРТА РОССИЙСКОЙ ФЕДЕРАЦИИ ГОСТ Р 21.101-2020 «Система проектной документации для строительства. ОСНОВНЫЕ ТРЕБОВАНИЯ К ПРОЕКТНОЙ И РАБОЧЕЙ ДОКУМЕНТАЦИИ» и другими ассоциированными нормативными документами.
                p Осуществление авторского надзора за строительством, реконструкцией и модернизацией очистных сооружений с целью контроля за выполнением работ в соответствии с решениями проектной документации и/или принятия оперативных решений по отклонению от утверждённых решений проектной документации со стороны лица, осуществляющего разработку проектной документации.



    include ../general/footer

    .loader