include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';
- const classActiveLink = "Услуги";
mixin blockService(idService, headingService, idArrow, idDescService, text)
  div(id=idService).block-service
    .block-service__wrap-heading
      h3.block-service__heading= headingService
      img(src='/img/general/arrow-service.svg' id=idArrow).block-service__arrow
    div(id=idDescService).block-service__desc!=text

doctype html
html(lang="ru")
  include ../general/head
  body#main-page.cursor.ru.background-page
    include ../general/header
    .pattern
    main.wrapper-grid

      .container2
      h1.heading-page Услуги

      +blockService(
        'service1',
        'Проектирование',
        'arrowService1',
        'descService1',
        '<p>Разработка проектной документации на строительство и реконструкцию очистных сооружений в соответствии с требованиями Постановления Правительства Российской Федерации от 16 февраля 2008 года N 87 «О составе разделов проектной документации и требованиях к их содержанию» и НАЦИОНАЛЬНОГО СТАНДАРТА РОССИЙСКОЙ ФЕДЕРАЦИИ ГОСТ Р 21.101-2020 «Система проектной документации для строительства. ОСНОВНЫЕ ТРЕБОВАНИЯ К ПРОЕКТНОЙ И РАБОЧЕЙ ДОКУМЕНТАЦИИ» на основании базового / детального инжиниринга поставщиков технологии очистки сточных вод.</p> <p>Сопровождение экспертизы для разработанной проектной документации до момента получения положительного заключения.</p> <p>Разработка рабочей документации на строительство, реконструкцию и модернизацию очистных сооружений в соответствии с требованиями НАЦИОНАЛЬНОГО СТАНДАРТА РОССИЙСКОЙ ФЕДЕРАЦИИ ГОСТ Р 21.101-2020 «Система проектной документации для строительства. ОСНОВНЫЕ ТРЕБОВАНИЯ К ПРОЕКТНОЙ И РАБОЧЕЙ ДОКУМЕНТАЦИИ» и другими ассоциированными нормативными документами.</p> <p>Осуществление авторского надзора за строительством, реконструкцией и модернизацией очистных сооружений с целью контроля за выполнением работ в соответствии с решениями проектной документации и/или принятия оперативных решений по отклонению от утверждённых решений проектной документации со стороны лица, осуществляющего разработку проектной документации.</p>'
        )

      +blockService(
        'service2',
        'Строительство',
        'arrowService2',
        'descService2',
        'Выполнение всех видов стандартных и специальных строительных работ при строительстве, реконструкции и модернизации очистных сооружений, включая строительство радиальных резервуаров любых размеров и конфигураций.'
        )

      +blockService(
        'service3',
        'Монтаж',
        'arrowService3',
        'descService3',
        '<p>Выполнение всех видов механомонтажных и электромонтажных работ при строительстве, реконструкции и модернизации очистных сооружений, включая:</p> <div>- механический монтаж, трубопроводная и электрическая обвязка оборудования инженерных систем общего назначения;</div> <div>- механический монтаж, трубопроводная и электрическая обвязка технологического оборудования очистки сточных вод.</div>'
        )

      +blockService(
        'service4',
        'ПУСКОНАЛАДКА',
        'arrowService4',
        'descService4',
        '<p>Выполнение пусконаладочных работ при строительстве, реконструкции и модернизации очистных сооружений, включая:</p> <div>- пусконаладка оборудования инженерных систем общего назначения;</div> <div>- сопровождение пусконаладки технологического оборудования очистки сточных вод со стороны поставщика технологии очистки сточных вод.</div>'
        )

      +blockService(
        'service5',
        'ИЗГОТОВЛЕНИЕ МЕТАЛЛОКОНСТРУКЦИЙ И ТЕХНОЛОГИЧЕСКОГО ОБОРУДОВАНИЯ',
        'arrowService5',
        'descService5',
        '<p>Изготовление общестроительных металлических конструкций в заводских условиях в соответствии с требованиями МЕЖГОСУДАРСТВЕННОГО СТАНДАРТА ГОСТ 23118-2019 «КОНСТРУКЦИИ СТАЛЬНЫЕ СТРОИТЕЛЬНЫЕ. Общие технические условия» и другими ассоциированными нормативными документами из чёрных и нержавеющих сталей для строительства, реконструкции и модернизации очистных сооружений.</p> <p>Изготовление технологического оборудования в соответствии с техническим заданием и/или конструкторской документацией поставщика технологии очистки сточных вод из чёрных и нержавеющих сталей, устанавливаемого при строительстве, реконструкции и модернизации очистных сооружений.</p>'
        )



    include ../general/footer

    .loader