include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';
mixin blockService(idService, headingService, idArrow, idDescService, text)
  div(id=idService).block-service
    .block-service__wrap-heading
      h3.block-service__heading= headingService
      img(src='/img/general/arrow-service.svg' id=idArrow).block-service__arrow
    div(id=idDescService).block-service__desc!=text

doctype html
html(lang="ru")
  include ../general/head
  body#main-page.cursor.ru.background-page
    include ../general/header
    .pattern
    main.wrapper-grid

      .container2
      h1.heading-page Услуги

      +blockService(
        'service1',
        'Проектирование',
        'arrowService1',
        'descService1',
        '<p>Разработка проектной документации на строительство и реконструкцию очистных сооружений в соответствии с требованиями Постановления Правительства Российской Федерации от 16 февраля 2008 года N 87 «О составе разделов проектной документации и требованиях к их содержанию» и НАЦИОНАЛЬНОГО СТАНДАРТА РОССИЙСКОЙ ФЕДЕРАЦИИ ГОСТ Р 21.101-2020 «Система проектной документации для строительства. ОСНОВНЫЕ ТРЕБОВАНИЯ К ПРОЕКТНОЙ И РАБОЧЕЙ ДОКУМЕНТАЦИИ» на основании базового / детального инжиниринга поставщиков технологии очистки сточных вод.</p> <p>Сопровождение экспертизы для разработанной проектной документации до момента получения положительного заключения.</p> <p>Разработка рабочей документации на строительство, реконструкцию и модернизацию очистных сооружений в соответствии с требованиями НАЦИОНАЛЬНОГО СТАНДАРТА РОССИЙСКОЙ ФЕДЕРАЦИИ ГОСТ Р 21.101-2020 «Система проектной документации для строительства. ОСНОВНЫЕ ТРЕБОВАНИЯ К ПРОЕКТНОЙ И РАБОЧЕЙ ДОКУМЕНТАЦИИ» и другими ассоциированными нормативными документами.</p> <p>Осуществление авторского надзора за строительством, реконструкцией и модернизацией очистных сооружений с целью контроля за выполнением работ в соответствии с решениями проектной документации и/или принятия оперативных решений по отклонению от утверждённых решений проектной документации со стороны лица, осуществляющего разработку проектной документации.</p>'
        )

      +blockService(
        'service2',
        'Строительство',
        'arrowService2',
        'descService2',
        'Выполнение всех видов стандартных и специальных строительных работ при строительстве, реконструкции и модернизации очистных сооружений, включая строительство радиальных резервуаров любых размеров и конфигураций.'
        )

      +blockService(
        'service3',
        'Монтаж',
        'arrowService3',
        'descService3',
        '<p>Выполнение всех видов механомонтажных и электромонтажных работ при строительстве, реконструкции и модернизации очистных сооружений, включая:</p> <p>- механический монтаж, трубопроводная и электрическая обвязка оборудования инженерных систем общего назначения;</p> <p>- механический монтаж, трубопроводная и электрическая обвязка технологического оборудования очистки сточных вод.</p>'
        )



    include ../general/footer

    .loader