include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';
- const classActiveLink = "О компании";

doctype html
html(lang="ru")
  include ../general/head
  body#main-page.cursor.ru.background-page
    include ../general/header
    .pattern.pattern_bg-page
    main.wrapper-grid

      .container2
      h1.heading-page О Компании

      p.descript-about-company Компания «ПСК Монолит» была создана в 2011 году и с самого начала была сориентирована на реализацию проектов строительства, реконструкции и модернизации промышленных очистных сооружений.

      p.descript-about-company На начальном этапе компания в основном выполняла только строительные работы по проектной документации сторонних разработчиков, но в последующем перечень выполняемых работ расширялся и на текущий момент своим партнёрам компания готова предложить весь комплекс проектных, строительных, монтажных, электромонтажных и пусконаладочных работ для успешной реализации проектов.

      p.descript-about-company.block-bg-white В 2018 году компания осознала как собственную потребность в изготовлении общестроительных металлических конструкций, используемых при строительстве очистных сооружений, так и потребность своих технологических партнёров в изготовлении или оперативной корректировке технологического оборудования очистки сточных вод. В связи с этим, компанией было принято решение о создании собственного производства металлоконструкций и оборудования, которое было успешно организовано на территории Сергиево-Посадского района Московской области. Организация данного производства позволила компании ещё больше повысить уровень своей клиентоориентированности и надёжности для своих технологических партнёров.

      p.descript-about-company На текущий момент компания обладает всеми необходимыми допусками на выполнение всех видов работ, полностью укомплектована штатом опытных ИТР и рабочим персоналом, оснащена всем необходимым инструментом и оборудованием для выполнения всех видов работ, владеет собственной производственно-складской базой, и с гордостью подтверждает, что является надёжным партнёром для реализации проектов строительства, реконструкции и модернизации очистных сооружений «под ключ». При этом, компания не останавливается в своём развитии и готова совершенствоваться для новых вызовов рынка.


    include ../general/footer

    .loader