.descript-about-company {
  font-size: 16px;
  line-height: 1.7;
  margin: 25px 0;

  @media only screen and (max-width: 939px) {
    font-size: 14px;
  }
}

.block-bg-white {
  padding: 40px;
  background: #ffffff;
  color: #000000;

  @media only screen and (max-width: 939px) {
    padding: 25px 30px;
  }
}