include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';

doctype html
html(lang="ru")
  include ../general/head
  body#main-page.cursor.ru
    include ../general/header

    .background
      .cycle-slideshow(data-cycle-fx='tileSlide' data-cycle-tile-count='10' data-cycle-tile-vertical='false' data-cycle-timeout='6000')
        img(src='/img/2.jpg' title='«Московская Пивоваренная компания»' alt='Строительство очистных сооружений')
        img(src='/img/1.jpg' title='«Стан 5000 Выксунский металлургический завод»' alt='Строительство фундамента под главный производственный корпус')
        img(src='/img/5.jpg' title='Завод по производству потолочных плит «Армстронг»' alt='Строительство фундаментов под технологическое оборудование')
        img(src='/img/4.jpg' title='Целлюлозно-бумажный комбинат АО «КНАУФ ПЕТРОБОРД»' alt='Строительство первой очереди очистных сооружений')
        img(src='/img/3.jpg' title='Пивоваренный завод «Балтика-Ярославль»' alt='Строительство очистных сооружений')
        img(src='/img/6.jpg' title='Завод по производству потолочных плит «Пуратос»' alt='Строительство очистных сооружений')
        img(src='/img/7.jpg' title='Завод по производству пищевых добавок ЗАО «Пуратос»' alt='Строительство очистных сооружений')
        img(src='/img/8.jpg' title='Пивоваренный завод ЗАО «Пивоварня Москва-Эфес»' alt='Строительство очистных сооружений')
      .pattern
      .cycle-caption
        h3 &laquo;&Mcy;&ocy;&scy;&kcy;&ocy;&vcy;&scy;&kcy;&acy;&yacy; &Pcy;&icy;&vcy;&ocy;&vcy;&acy;&rcy;&iecy;&ncy;&ncy;&acy;&yacy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&yacy;&raquo;
        p &Scy;&tcy;&rcy;&ocy;&icy;&tcy;&iecy;&lcy;&softcy;&scy;&tcy;&vcy;&ocy; &ocy;&chcy;&icy;&scy;&tcy;&ncy;&ycy;&khcy; &scy;&ocy;&ocy;&rcy;&ucy;&zhcy;&iecy;&ncy;&icy;&jcy;
        p
    .container
      .line
        .services
          a.service-1(href="https://psk-monolit.su/services/stroitel'stvo_ochistnyh_sooruzhenij.php")
            i
            b
              | &Scy;&tcy;&rcy;&ocy;&icy;&tcy;&iecy;&lcy;&softcy;&scy;&tcy;&vcy;&ocy;
              br
              | &ocy;&chcy;&icy;&scy;&tcy;&ncy;&ycy;&khcy; &scy;&ocy;&ocy;&rcy;&ucy;&zhcy;&iecy;&ncy;&icy;&jcy;
          a.service-2(href='https://psk-monolit.su/services/proektirovanie.php')
            i
            b
              | &Pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;
              br
              | &ocy;&chcy;&icy;&scy;&tcy;&ncy;&ycy;&khcy; &scy;&ocy;&ocy;&rcy;&ucy;&zhcy;&iecy;&ncy;&icy;&jcy;
          a.service-3(href='https://psk-monolit.su/services/montazh_tekhnologicheskogo_oborudovaniya_i_inzhenernyh_setej.php')
            i
            b &Mcy;&ocy;&ncy;&tcy;&acy;&zhcy; &tcy;&iecy;&khcy;&ncy;&ocy;&lcy;&ocy;&gcy;&icy;&chcy;&iecy;&scy;&kcy;&ocy;&gcy;&ocy; &ocy;&bcy;&ocy;&rcy;&ucy;&dcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &icy; &icy;&ncy;&zhcy;&iecy;&ncy;&iecy;&rcy;&ncy;&ycy;&khcy; &scy;&iecy;&tcy;&iecy;&jcy;
          a.service-4(href='https://psk-monolit.su/services/radiusnaya_opalubka.php')
            i
            b
              | &Rcy;&acy;&dcy;&icy;&ucy;&scy;&ncy;&acy;&yacy;
              br
              | &ocy;&pcy;&acy;&lcy;&ucy;&bcy;&kcy;&acy;
        .citation
          .active
            h2 &Scy;&tcy;&rcy;&ocy;&icy;&tcy;&iecy;&lcy;&softcy;&scy;&tcy;&vcy;&ocy; &ocy;&chcy;&icy;&scy;&tcy;&ncy;&ycy;&khcy; &scy;&ocy;&ocy;&rcy;&ucy;&zhcy;&iecy;&ncy;&icy;&jcy;:
            p
              | &Scy;&tcy;&rcy;&ocy;&icy;&tcy;&iecy;&lcy;&softcy;&scy;&tcy;&vcy;&ocy; &mcy;&ocy;&ncy;&ocy;&lcy;&icy;&tcy;&ncy;&ycy;&khcy; &zhcy;&iecy;&lcy;&iecy;&zcy;&ocy;&bcy;&iecy;&tcy;&ocy;&ncy;&ncy;&ycy;&khcy; &rcy;&iecy;&zcy;&iecy;&rcy;&vcy;&ucy;&acy;&rcy;&ocy;&vcy; &kcy;&acy;&kcy; &pcy;&rcy;&yacy;&mcy;&ocy;&ucy;&gcy;&ocy;&lcy;&softcy;&ncy;&ycy;&khcy; &tcy;&acy;&kcy; &icy; &kcy;&rcy;&ucy;&gcy;&lcy;&ycy;&khcy;. &Scy;&tcy;&rcy;&ocy;&icy;&tcy;&iecy;&lcy;&softcy;&scy;&tcy;&vcy;&ocy; &zcy;&dcy;&acy;&ncy;&icy;&jcy; &icy;&zcy; &Lcy;&Mcy;&Kcy;. &Mcy;&ocy;&ncy;&tcy;&acy;&zhcy; &icy;&ncy;&zhcy;&iecy;&ncy;&iecy;&rcy;&ncy;&ycy;&khcy; &scy;&icy;&scy;&tcy;&iecy;&mcy; &zcy;&dcy;&acy;&ncy;&icy;&jcy;
              a(href="https://psk-monolit.su/services/stroitel'stvo_ochistnyh_sooruzhenij.php") ...
            p
          div
            h2 &Pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;
            p
              | &Ocy;&Ocy;&Ocy; &laquo;&Pcy;&Scy;&Kcy; &Mcy;&ocy;&ncy;&ocy;&lcy;&icy;&tcy;&raquo; &ocy;&scy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;&lcy;&yacy;&iecy;&tcy; &pcy;&ocy;&lcy;&ncy;&ycy;&jcy; &scy;&pcy;&iecy;&kcy;&tcy;&rcy; &rcy;&acy;&bcy;&ocy;&tcy;, &scy;&vcy;&yacy;&zcy;&acy;&ncy;&ncy;&ycy;&khcy; &scy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;&mcy; &icy; &scy;&tcy;&rcy;&ocy;&icy;&tcy;&iecy;&lcy;&softcy;&scy;&tcy;&vcy;&ocy;&mcy; &ncy;&ocy;&vcy;&ycy;&khcy; &icy; &rcy;&iecy;&kcy;&ocy;&ncy;&scy;&tcy;&rcy;&ucy;&kcy;&tscy;&icy;&icy; &scy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;&ucy;&yucy;&shchcy;&icy;&khcy; &ocy;&chcy;&icy;&scy;&tcy;&ncy;&ycy;&khcy; &scy;&ocy;&ocy;&rcy;&ucy;&zhcy;&iecy;&ncy;&icy;&jcy;, &vcy;&kcy;&lcy;&yucy;&chcy;&acy;&yacy; &scy;&lcy;&iecy;&dcy;&ucy;&yucy;&shchcy;&icy;&iecy;
              a(href='https://psk-monolit.su/services/proektirovanie.php') ...
            p
          div
            h2 &Mcy;&ocy;&ncy;&tcy;&acy;&zhcy; &tcy;&iecy;&khcy;&ncy;&ocy;&lcy;&ocy;&gcy;&icy;&chcy;&iecy;&scy;&kcy;&ocy;&gcy;&ocy; &ocy;&bcy;&ocy;&rcy;&ucy;&dcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &icy; &icy;&ncy;&zhcy;&iecy;&ncy;&iecy;&rcy;&ncy;&ycy;&khcy; &scy;&iecy;&tcy;&iecy;&jcy;
            p
              | &Scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&icy;&scy;&tcy;&ycy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy; &Ocy;&Ocy;&Ocy; &laquo;&Pcy;&Scy;&Kcy; &Mcy;&ocy;&ncy;&ocy;&lcy;&icy;&tcy;&raquo; &vcy;&ycy;&pcy;&ocy;&lcy;&ncy;&yacy;&yucy;&tcy; &rcy;&acy;&bcy;&ocy;&tcy;&ycy; &pcy;&ocy; &mcy;&ocy;&ncy;&tcy;&acy;&zhcy;&ucy; &ocy;&bcy;&ocy;&rcy;&ucy;&dcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &dcy;&lcy;&yacy; &ocy;&chcy;&icy;&scy;&tcy;&ncy;&ycy;&khcy; &scy;&ocy;&ocy;&rcy;&ucy;&zhcy;&iecy;&ncy;&icy;&jcy; &rcy;&acy;&zcy;&lcy;&icy;&chcy;&ncy;&ocy;&jcy; &scy;&lcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&icy;
              a(href='https://psk-monolit.su/services/montazh_tekhnologicheskogo_oborudovaniya_i_inzhenernyh_setej.php') ...
            p
          div
            h2 &Rcy;&acy;&dcy;&icy;&ucy;&scy;&ncy;&acy;&yacy; &ocy;&pcy;&acy;&lcy;&ucy;&bcy;&kcy;&acy;
            p
              | &Pcy;&rcy;&icy; &vcy;&ocy;&zcy;&vcy;&iecy;&dcy;&iecy;&ncy;&icy;&icy; &zcy;&dcy;&acy;&ncy;&icy;&jcy; &icy; &scy;&ocy;&ocy;&rcy;&ucy;&zhcy;&iecy;&ncy;&icy;&jcy; &dcy;&ocy;&vcy;&ocy;&lcy;&softcy;&ncy;&ocy; &chcy;&acy;&scy;&tcy;&ocy; &vcy;&ycy;&pcy;&ocy;&lcy;&ncy;&yacy;&yucy;&tcy;&scy;&yacy; &kcy;&rcy;&icy;&vcy;&ocy;&lcy;&icy;&ncy;&iecy;&jcy;&ncy;&ycy;&iecy; &vcy;&iecy;&rcy;&tcy;&icy;&kcy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &mcy;&ocy;&ncy;&ocy;&lcy;&icy;&tcy;&ncy;&ycy;&iecy; &ecy;&lcy;&iecy;&mcy;&iecy;&ncy;&tcy;&ycy; (&rcy;&acy;&dcy;&icy;&ucy;&scy;&ncy;&ycy;&iecy; &icy; &ecy;&lcy;&lcy;&icy;&pcy;&tcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&iecy;)
              a(href='https://psk-monolit.su/services/radiusnaya_opalubka.php') ...
            p

    include ../general/footer

    .loader