include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';
mixin blockDocument(docHeading, docImg, idImg, docDownLink, docDownName)
  .block-documents__wrap
    h4.block-documents__heading= docHeading
    img(src=docImg id=idImg).block-documents__img-doc
    a(href=docDownLink).block-documents__down= docDownName

doctype html
html(lang="ru")
  include ../general/head
  body#main-page.cursor.ru.background-page
    include ../general/header
    .pattern
    main.wrapper-grid

      .container2
      h1.heading-page Документы
      .block-documents
        +blockDocument(
          'Реквизиты',
          '/img/documents/document1.jpg',
          'imgDocument1',
          '#',
          'Скачать документацию(.docx)'
          )
        +blockDocument(
          'Свидетельство о допуске к выполнению строительно-монтажных работ',
          '/img/documents/document2.jpg',
          'imgDocument2',
          '#',
          'Скачать документацию(.pdf)'
          )
        +blockDocument(
          'Свидетельство о допуске к выполнению проектных работ',
          '/img/documents/document3.jpg',
          'imgDocument3',
          '#',
          'Скачать документацию(.pdf)'
          )






    include ../general/footer

    .loader

//-ter
    .zoom-img-doc
      .zoom-img-doc-wrap.wrapper-grid
        a(href='#').zoom-img-doc__link-down Скачать документацию(.docx)
        img(src='/img/documents/document1.jpg').zoom-img-doc__img
        a(href='#').zoom-img-doc__icon-close x
