include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';
- const classActiveLink = "Документы";
mixin blockDocument(docHeading, docImg, idImg, docDownLink, docDownName)
  .block-documents__wrap
    h4.block-documents__heading= docHeading
    img(src=docImg id=idImg).block-documents__img-doc
    a(href=docDownLink download).block-documents__down= docDownName

doctype html
html(lang="ru")
  include ../general/head
  body#main-page.cursor.ru.background-page
    include ../general/header
    .pattern.pattern_bg-page
    main.wrapper-grid

      .container2
      h1.heading-page Документы
      .block-documents
        +blockDocument(
          'Реквизиты',
          '/img/documents/document1.jpg',
          'imgDocument1',
          '/files/document1.docx',
          'Скачать документацию(.docx)'
          )
        +blockDocument(
          'Свидетельство о допуске к выполнению строительно-монтажных работ',
          '/img/documents/document2.jpg',
          'imgDocument2',
          '/files/document2.pdf',
          'Скачать документацию(.pdf)'
          )
        +blockDocument(
          'Свидетельство о допуске к выполнению проектных работ',
          '/img/documents/document3.jpg',
          'imgDocument3',
          '/files/document3.pdf',
          'Скачать документацию(.pdf)'
          )






    include ../general/footer

    .loader


    .zoom-img-doc
      .zoom-img-doc-wrap1.wrapper-grid#zoomImg1
        a(href='/files/document1.docx' download).zoom-img-doc__link-down Скачать документацию(.docx)
        img(src='/img/documents/zoom-document1.jpg').zoom-img-doc__img
        a(href='#').zoom-img-doc__icon-close x


      .zoom-img-doc-wrap2.wrapper-grid#zoomImg2
        a(href='/files/document2.pdf' download).zoom-img-doc__link-down Скачать документацию(.docx)
        img(src='/img/documents/zoom-document2.jpg').zoom-img-doc__img
        a(href='#').zoom-img-doc__icon-close x


      .zoom-img-doc-wrap3.wrapper-grid#zoomImg3
        a(href='/files/document3.pdf' download).zoom-img-doc__link-down Скачать документацию(.docx)
        img(src='/img/documents/zoom-document3.jpg').zoom-img-doc__img
        a(href='#').zoom-img-doc__icon-close x
