footer.footer.fixed
  .copyrights
    small.block(style='color:#52bcf0;')
      | 2018 -
      script.
        document.write(new Date().getFullYear());
      | . &copy;  &Vcy;&scy;&iecy; &pcy;&rcy;&acy;&vcy;&acy; &zcy;&acy;&shchcy;&icy;&shchcy;&iecy;&ncy;&ycy;. &Ocy;&Ocy;&Ocy; &laquo;&Pcy;&Scy;&Kcy; &Mcy;&ocy;&ncy;&ocy;&lcy;&icy;&tcy;&raquo;
    small.cawas
      a.a1(href='https://profestyle.ru' target='_blank')
        span(style='vertical-align: 0px;') Web &Scy;&tcy;&ucy;&dcy;&icy;&yacy; &nbsp;
        img(style='width: 20px;' src='https://profestyle.ru/gallery/prof/logo_top_mini.png' alt='' width='20' height='20')
        span(style='text-decoration: none; vertical-align: 0px; font-size: 1.1em;') &nbsp; Professional Style