footer.footer.fixed
  .copyrights
    small.block
      | 2018 -
      script.
        document.write(new Date().getFullYear());
      | . &copy; Все права защищены. ООО &laquo;ПСК Монолит&raquo;
    small.cawas
      a.a1(href='https://vk.com/exocornet' target='_blank')
        span by EXOCORNET