/* FOOTER */
.footer {
  background-color: rgba(0, 0, 0, 1);
  position: relative;
  line-height: 30px;
  font-size: 12px;
  padding: 0 40px;
  cursor: default;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
  z-index: 2;

  @media only screen and (max-width: 639px) {
    font-size: 10px;
  }
}

.footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 80;
}

.copyrights {
  display: flex;
  justify-content: space-between;
}