head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  meta(name='format-detection' content='telephone=no')
  title ООО &laquo;ПСК Монолит&raquo; | монтаж наружных инженерных сетей, радиусная опалубка стен, строительство очистных сооружений в Москве и московской области
  meta(name='description' content='ООО «ПСК Монолит» | монтаж наружных инженерных сетей , радиусная опалубка стен в Москве, строительство очистных сооружений в Москве, московской области и по всей России.')
  meta(name='keywords' content='')
  link(rel='shortcut icon' href='../favicon.ico')