/* HEADER */
.header {
  position: relative;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
  cursor: default;
  -webkit-transition: background-color .25s;
  -moz-transition: background-color .25s;
  -ms-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s;
  font-size: 17px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
}


/* LOGO */
.logo {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  cursor: default;
  background-color: #fff;
}

.logo a, .logo span {
  display: block;
  height: 0;
  padding-top: 60px;
  overflow: hidden;
  width: 198px;
  background: url(../img/logo.png) center bottom no-repeat;
  -webkit-transition: background-position .25s;
  -moz-transition: background-position .25s;
  -ms-transition: background-position .25s;
  -o-transition: background-position .25s;
  transition: background-position .25s;
}

.cursor .logo a:hover {
  background-position: center top;
}


/* MENU */
.menu {
  list-style: none;
  margin: 0 20px 0 218px;
  width: 800px;
}

.menu li {
  float: left;
  line-height: 60px;
  position: relative;
  font-size: 16px;
  font-weight: bold;
}

.menu li a {
  padding: 0 20px;
  display: block;
  color: #fff;
  text-transform: uppercase;
}

.menu ul {
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  padding-bottom: 4px;
  list-style: none;
  background-color: rgba(0, 0, 0, .75);
  z-index: 100;
}

.menu ul li {
  float: none;
}

.menu ul li a {
  white-space: nowrap;
  line-height: 30px;
  padding-right: 30px;
  color: #52bcf0;
  text-transform: none;
}

.menu li:hover ul {
  display: block;
}

.menu li a:hover, .menu li:hover > a {
  color: #52bcf0;
  background-color: rgba(0, 0, 0, .5);
}

.menu ul li a:hover, .submenu a:hover, .menu ul li a.tap, .submenu a.tap {
  background-color: #52bcf0 !important;
  color: #222 !important;
  text-shadow: none;
}

#main-page .menu li:hover > a {
  background-color: transparent;
}

#main-page .menu ul {
  background-color: rgba(0, 0, 0, .5);
}

/* LANGS */
.langs {
  position: absolute;
  right: 40px;
  top: 21px;
  font-size: 20px;
  font-weight: bold;
  list-style: none;

  @media only screen and (max-width: 1199px) {
      width: 370px;
      right: 120px;
  }

  @media only screen and (max-width: 959px) {
    right: 40px;
    font-size: 16px;
  }

  @media only screen and (max-width: 639px) {
    top: 10px;
    font-size: 14px;
    width: 180px;
  }
}

.langs li {
  float: left;
  margin-left: 10px;

  @media only screen and (max-width: 1199px) {
    margin: 0;
    text-align: center;
  }
}

.langs li.active span {
  color: #52bcf0 !important;
}

@media only screen and (max-width: 1199px) {
  .langs li a {
    width: 30px;
    height: 30px;
    display: block;
    line-height: 30px;
    font-size: 14px;
  }
}