header.header
  h1.logo
    a(href='/') ООО &laquo;ПСК Монолит&raquo;
  .main-menu
    ul.menu
      li.passive
        a(href='#') О компании
      li.passive
        a(href='#') Услуги
      li.passive
        a(href='#') Проекты
      li.passive
        a(href='#') Документы
      li.passive
        a(href='#') Контакты
    ul.langs
      a.mobile_link(href='tel:+74955325352')
        i.fa.fa-phone
        |  +7(495)532-53-52
      a.mobile_link(href='tel:info@psk-monolit.su')
        i.fa.fa-envelope-o
        | &nbsp; info@psk-monolit.su