header.header
  h1.logo
    a(href='/') ООО &laquo;ПСК Монолит&raquo;
  .main-menu
    ul.menu
      li.passive
        a(href='/about-company.html') О компании
      li.passive
        a(href='/service.html') Услуги
      li.passive
        a(href='/project.html') Проекты
      li.passive
        a(href='/documents.html') Документы
      li.passive
        a(href='/contact.html') Контакты
    .langs
      a.mobile_link(href='tel:+74955325352')
        i.fa.fa-phone
        |  +7(495)532-53-52
      a.mobile_link(href='mailto:info@psk-monolit.su')
        i.fa.fa-envelope-o
        | &nbsp; info@psk-monolit.su