include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';
- const classActiveLink = "Контакты";

doctype html
html(lang="ru")
  include ../general/head
  body#main-page.cursor.ru.background-page
    include ../general/header
    .pattern.pattern_bg-page
    main.wrapper-grid

      .container2
      h1.heading-page Контакты
      .section-contacts
        strong.section-contacts__name-contact Телефон:
        a(href="tel:+79261903444").section-contacts__link-contact +7(926)190-34-44
        strong.section-contacts__name-contact E-mail:
        a(href="email:dm.psk@list.ru").section-contacts__link-contact dm.psk@list.ru
        strong.section-contacts__name-contact Юр. адрес:
        span.section-contacts__adres 129329, г. Москва, ул. Кольская, д. 2, корп. 4, эт. 3, пом. 8
        strong.section-contacts__name-contact Факт. адрес:
        span.section-contacts__adres 141357, Московская обл., Сергиево-Посадский р-н, дер. Слободка, д. 9а



    include ../general/footer

    .loader